section {
  width: 100%;
  background-color: coral;
  border: 3px solid black;

  display: grid;
  grid-template-columns: 150px auto 250px auto;
  grid-template-rows: 150px auto;
  gap: 10px;
}

section article {
  text-align: center;
  padding: 20px;
  border: 1px solid grey;
  background-color: aquamarine;
}

.child1 {
  /* grid-column: 1 / span 2; */
  /* grid-column-end: 5; */
  /* grid-row: 1 / span 2; */
  /* grid-row-end: 3; */
  /* grid-area: 1 / 1 / 3 / 3; */
}

.child2 {
  grid-area: 1 / 2 / 3 / 4;
}
