body {
  height: 300vh;
}

div {
  border: 3px solid black;
  height: 400px;
  width: 600px;
}

.red {
  border: 3px solid red;
  height: 200px;
  width: 200px;

  position: relative;
  /* top: 100px;
  left: 20px; */
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);

  border-radius: 50%;
}

.purple {
  border: 3px solid purple;
  height: 50px;
  width: 50px;

  position: absolute;
  /* bottom: 0px;
  right: 0px; */
  /* margin: 0 auto; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fixed {
  width: 200px;
  height: 50px;
  border: 1px solid greenyellow;

  position: fixed;
  bottom: 0px;
  left: 50%;
}

section {
  width: 300px;

  position: relative;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-child {
  width: 50px;
  height: 50px;
  border: 3px solid pink;
}
